<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2014-2016 s1mpl3x <jan[at]over9000.eu>
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  -->

<Configuration status="WARN" name="Skadi">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %logger - %msg%n"/>
		</Console>
		<RollingFile name="RollingFile" fileName="${sys:user.home}/.skadi/skadi.log"
					 filePattern="${sys:user.home}/.skadi/skadi_old_%i.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %logger - %msg%n"/>
			<Policies>
				<OnStartupTriggeringPolicy/>
			</Policies>
			<DefaultRolloverStrategy max="3"/>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="WARN">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="RollingFile"/>
		</Root>
		<Logger name="eu.over9000.skadi" level="ALL" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="RollingFile"/>
		</Logger>
	</Loggers>

</Configuration>